* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #101015;
  color: #fff;
  position: relative;
  padding: 100px 0 200px;
  overflow-y: scroll;
}

.selected {
  border: 2px solid #fff;
}

.toolbar {
  background-color: #1b1b20;
  padding: 20px 40px;
  display: flex;
  gap: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px #2c2c38;
  position: fixed;
  bottom: 25px;
}

.toolbar > * {
  cursor: pointer;
  transform: scale(1.7);
}

#add {
  color: #9ee22f;
}

#power {
  color: #2fa2e2;
}

#folder {
  color: #e22f90;
}

#tools {
  padding: 20px 40px;
  display: flex;
  gap: 30px;
  border-radius: 10px;
  position: fixed;
  bottom: 100px;
  display: none;
}

#tools > * {
  cursor: pointer;
  background-color: #1b1b20;
  box-shadow: 0px 0px 1px 1px #2c2c38;
  padding: 20px;
  border-radius: 10px;
  transform: scale(1.2);
}

#color-switcher {
  color: #e29a2f;
}

#crop-switcher {
  color: #2fe2a0;
}

#filter-switcher {
  color: #6e84ff;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-form label {
  position: absolute;
  top: 50px;
  font-family: cursive;
  font-size: 1.6rem;
}

#image-preview {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#image-input {
  display: none;
}

#canvas {
  display: none;
}

#color-display {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 100%;
  margin-top: 10px;
  cursor: pointer;
}
