body {
  background-color: #202333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
