* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #2e2947;
  color: #fff;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 50px;
}

.scores h2 {
  width: 100%;
  max-width: 350px;
}

.game {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.options p {
  flex: 1;
  width: 100%;
  max-width: 350px;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: #007a61;
  position: relative;
}

.options p:hover {
  background-color: #015a48;
}

.options p.yourStyle::before {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: yellow;
  z-index: 1;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.5;
}

.options p.pcStyle::after {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 136, 0);
  z-index: 1;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0.5;
}
