.plans {
  background-color: #b9f2a1;
  padding: 80px;
}

@media screen and (max-width: 400px) {
  .plans {
    padding: 80px 30px;
  }
}

.plan-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 600px;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 1px 3px #659365;
}

.plan-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.plan-card-header h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.plan-card-header p {
  font-weight: 600;
  font-size: 1rem;
  opacity: 0.8;
}

.plan-card-header p span {
  font-size: 1.1rem;
  font-weight: 500;
  color: #999;
}

.all-cards {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.features {
  width: 100%;
}

.features ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.features ul li {
  width: 100%;
  position: relative;
  max-width: 200px;
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgba(128, 128, 128, 0.258);
  padding: 5px;
  border-radius: 10px;
}

.features ul li::before {
  content: url("./img/check-img.png");
  position: absolute;
  left: -10px;
}

.plans button {
  width: 100%;
  max-width: 190px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #b9f2a1;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}

.plan-card.premium {
  background: rgb(7, 51, 64);
  background: linear-gradient(
    355deg,
    rgba(7, 51, 64, 1) 0%,
    rgba(101, 147, 101, 1) 100%
  );
  color: #fff;
  transform: scale(1.1);
}

.plan-card.premium .plan-card-header p span {
  color: #fff;
}

@media screen and (min-width: 1175px) {
  .all-cards {
    gap: 0;
  }
}
