.services {
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 10px;
  transition: 0.5s;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-text h3 {
  font-size: 1.5rem;
}

.card-text p {
  font-size: 1rem;
  color: #5d5a5a;
}

.card-link {
  margin-top: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 0.875rem;
  color: #5d5a5a;
}

.card > img {
  height: 180px;
}

.cards .card:hover {
  box-shadow: 0 0 1px 5px rgba(10, 51, 90, 0.3);
  transform: scale(1.02);
}
