body {
  background-color: #28223f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 350px;
  min-height: 350px;
  background-color: #231e39;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 10px #231e39;
  padding: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
