<header>
  <nav>
    <img class="ham-icon" src="img/menu-line.svg" alt="hamburger menu icon" />
    <h1 class="logo">DIGITREND</h1>
    <ul class="nav-links">
      <li><a href="">home</a></li>
      <li><a href="">about us</a></li>
      <li><a href="">service</a></li>
      <li><a href="">pricing</a></li>
      <li><a href="">portfolio</a></li>
    </ul>
    <button class="btn-contact">Contact Us</button>
  </nav>

  <div class="hero">
    <div class="introduction-text">
      <h1>
        Your Trusted Digital
        <span class="text-green-light">Agency</span> Partner
      </h1>
      <p>Boost your brand online with expert digital marketing solutions</p>
      <div class="hero-buttons">
        <button class="get-started">Get Started</button>
        <button class="explore-more">Explore More</button>
      </div>
    </div>

    <img
      class="marketing-image"
      src="img/marketing-image.png"
      alt="cartoon image of two a boss talking to her employer who is working on his PC"
    />
  </div>
</header>
