* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #292c31;
  color: #fff;
  position: relative;
  gap: 20px;
  padding: 50px;
  flex-direction: column;
}

#initial-selection {
  width: 90%;
  max-width: 500px;
  height: 300px;
  background-color: #25282c;
  border: 1px dashed rgba(128, 128, 128, 0.385);
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: rgb(161, 159, 159);
  font-size: 20px;
}

#open-image {
  background-color: #088080;
  color: #fff;
  border-radius: 20px;
  padding: 6px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

#image-icon {
  transform: scale(3);
  color: #c8c9ca;
}

.selected {
  border: 1px solid #ffffff40;
}

.canvas-container {
  width: 100%;
  max-width: 700px;
  min-width: 350px;
  height: 500px;
  overflow: auto;
  background-color: #232627;
  border: 5px solid gray;
  scrollbar-width: none;
  cursor: grab;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#canvas {
  display: none;
}

.toolbar {
  background-color: #1b1b20;
  padding: 20px 40px;
  display: flex;
  gap: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px #2c2c38;
  position: fixed;
  bottom: 25px;
  display: none;
}

.toolbar > * {
  cursor: pointer;
  transform: scale(1.7);
}

.add-container,
.download-container {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: #232627;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.add-container {
  left: 0;
  border-top-right-radius: 30px;
}

.download-container {
  right: 0;
  border-top-left-radius: 30px;
}

#add {
  color: #9ee22f;
  transform: scale(1.7);
  cursor: pointer;
}

#download {
  transform: scale(1.7);
  cursor: pointer;
}

#power {
  color: #2fa2e2;
}

#folder {
  color: #e22f90;
}

#color-switcher {
  color: #e29a2f;
  display: none;
  width: 100%;
  height: 100%;
}

#crop-switcher.selected {
  background: #088080;
}

#filter-switcher {
  color: #6e84ff;
}

#image-form label {
  position: absolute;
  top: 50px;
  font-size: 1.6rem;
}

#image-preview {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#image-input {
  display: none;
}

#color-display {
  width: 150px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 1s;
  display: none;
}

#filter-range {
  width: 100%;
  max-width: 400px;
  background-color: #232627;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  display: none;
}

#filter-range div input {
  width: 100%;
}

#filter-range span {
  font-family: monospace;
}

.zooms {
  display: flex;
  height: 60px;
  gap: 10px;
}

.zoomBtn {
  background-color: #292c31;
  color: #fff;
  outline: 0;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
}

.crop-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#crop-btn {
  flex: 1;
}

.image-preview {
  max-width: 400px;
  max-height: 500px;
}

#picked-color {
  text-align: center;
  width: 220px;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.349);
  border-radius: 5px;
  display: none;
}
