body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #28223f;
  color: #fff;
}

#stopwatch {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#stopwatch .numbers {
  display: flex;
  text-align: center;
  border: 2px solid #fff;
  padding: 10px;
}

.numbers p {
  flex: 1;
}
