<div class="contact-us">
  <div class="contact-info">
    <div class="contact-info-box">
      <img src="./img/location-icon.png" alt="location icon" />
      <p>Lorem ipsum dolor sit.</p>
    </div>

    <div class="contact-info-box">
      <img src="./img/envelope-icon.png" alt="envelope icon" />
      <p>something@gmail.com</p>
    </div>

    <div class="contact-info-box">
      <img src="./img/mobile-icon.png" alt="mobile icon" />
      <p>0123456789</p>
    </div>

    <div class="contact-info-box">
      <img src="./img/telephone-icon.png" alt="telefone icons" />
      <p>0123456789</p>
    </div>
  </div>
  <form class="contact-form">
    <label class="contact-first-name" for="name-field">
      Name:
      <input id="name-field" />
    </label>

    <label class="contact-email" for="email-field">
      Email:
      <input id="email-field" />
    </label>

    <label class="contact-text" for="text-field">
      Tell us what you think
      <input id="email-field" />
    </label>
  </form>
</div>
