<div class="plans">
  <div class="section-text">
    <h2>Choose Our Plan</h2>
    <p>
      Unlock your brand's potential with a tailored plan that suits your needs
    </p>
  </div>

  <div class="all-cards">
    <div class="plan-card">
      <div class="plan-card-header">
        <h3 class="plan-type">Free</h3>
        <p>$0<span>/month</span></p>
      </div>

      <div class="features">
        <ul>
          <li>1 user request</li>
          <li>1 design account</li>
          <li>Email support</li>
          <li>10 deployment</li>
        </ul>
      </div>
      <button>Choose Plan</button>
    </div>

    <div class="plan-card premium">
      <div class="plan-card-header">
        <h3 class="plan-type">Premium</h3>
        <p>$55<span>/month</span></p>
      </div>

      <div class="features">
        <ul>
          <li>10 user request</li>
          <li>3 design account</li>
          <li>Email support</li>
          <li>100 deployment</li>
          <li>24/7 support</li>
          <li>premium support</li>
        </ul>
      </div>
      <button>Choose Plan</button>
    </div>

    <div class="plan-card">
      <div class="plan-card-header">
        <h3 class="plan-type">Enterprise</h3>
        <p>$105<span>/month</span></p>
      </div>

      <div class="features">
        <ul>
          <li>unlimited user request</li>
          <li>3 to 50 design account</li>
          <li>Email support</li>
          <li>Unlimited deployment</li>
          <li>24/7 support</li>
          <li>Advanced security</li>
        </ul>
      </div>
      <button>Choose Plan</button>
    </div>
  </div>
</div>
