<div class="services">
  <div class="section-text">
    <h2>Our Services</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptatum!
    </p>
  </div>

  <div class="cards">
    <div class="card">
      <img src="img/consultancy-img.png" alt="service image" />

      <div class="card-text">
        <h3 class="card-heading">SEO Consultancy</h3>
        <p class="card-text">
          Elevate your online presence with our expert SEO guidance and
          strategies
        </p>
      </div>

      <a class="card-link" href="#"
        >Explore More
        <img src="img/arrow.png" alt="" />
      </a>
    </div>

    <div class="card">
      <img src="img/digital-marketing-text.png" alt="service image" />

      <div class="card-text">
        <h3 class="card-heading">Digital Marketing</h3>
        <p class="card-text">
          Drive your brand's success with our comprehensive digital marketing
          expertise
        </p>
      </div>

      <a class="card-link" href="#"
        >Explore More
        <img src="img/arrow.png" alt="" />
      </a>
    </div>

    <div class="card">
      <img src="img/content-writing-text.png" alt="service image" />

      <div class="card-text">
        <h3 class="card-heading">Content Writing</h3>
        <p class="card-text">
          Capture your audience's attention with engaging content crafted by our
          skilled writers
        </p>
      </div>

      <a class="card-link" href="#"
        >Explore More
        <img src="img/arrow.png" alt="" />
      </a>
    </div>
  </div>
</div>
