<div class="video-presentation">
  <div>
    <div class="video-text">
      <h2>Crafting Digital Brilliance Explore Our Methodology</h2>
      <p>
        Discover the artistry behind our digital mastery as we unveil the
        intricate layers of our methodology, meticulously crafted to illuminate
        your brand's path to brilliance in the digital realm
      </p>
    </div>

    <div class="video">
      <img src="img/video-thumbnail.png" alt="video thumbnail" />
      <img src="img/play-icon.png" alt="play icon" />
    </div>

    <button class="btn-contact">Contact Us</button>
  </div>
</div>
