@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1c1c25;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #ee00ff, #fbff00);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 170px;
  height: 170px;
  max-width: 200px;
}

.gradienttext {
  background-image: linear-gradient(to right, #22cfff 0%, #34d607 100%);
  color: transparent;
  -webkit-background-clip: text;
}

.card {
  width: 95%;
  max-width: 400px;
  background-color: #282830;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 3px;
  color: #fff;
}

.person-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.person-bio h2 {
  font-size: 24px;
}

.btns {
  display: flex;
  width: 100%;
  gap: 5px;
}

.btns button {
  flex: 1;
  border-radius: 4px;
  padding: 10px 5px;
  cursor: pointer;
}

.contact {
  background: linear-gradient(to right, #f473fd, #6a94ef);
}

.follow {
  background: linear-gradient(to right, #91fd73, #ef6aaf);
}

#image-input {
  display: none;
}
